.courseList {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    padding: 20px; 
    align-items: center;
}
  
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 12px;
    width: 80%;
    margin-bottom: 20px;
} 
.card img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.courseList button{
  font-weight: bold;
  font-size: 14px;
  border: solid 1px #ccc;
  border-radius: 6px;
  color: rgba(68, 68, 68, 0.966);
  margin-top: 8px;
}
