* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;  
}

.header {
    display: flex;
    flex: 1;
    align-items: center;
    text-align: center;
    background-color: #aaaaaad7;
    padding: 6px 12px;
}
.header_bar {
    display: flex;
    align-items: center;
}
.header_bar h5 {
    text-decoration: none;
    padding-left: 14px;
    font-size: 24px;
    color: #ffffffe1;
}
.header_bar img {
    margin: 14px;
}

.header_bar_center {
    flex-grow: 1; /* ทำให้ส่วนนี้ขยายตามขนาดหน้าจอ */
    margin: 0 20px; /* เพิ่มช่องว่างซ้ายขวา */
}

.header_bar_center input[type="search"] {
    width: 100%; /* ให้ช่องค้นหาขยายเต็มความกว้าง */
    max-width: 600px; /* กำหนดความกว้างสูงสุด */
    padding: 8px; /* เพิ่มช่องว่างภายใน */
    border: 1px solid #ccc; /* ขอบของช่องค้นหา */
    border-radius: 4px; /* ทำมุมให้โค้ง */
    outline: none;
}

.header_icon_hide {
    display: flex; 
    align-items: center;
}

.header_icon_hide img {
    margin: 20px;
    width: 2.4vw;
}
.menu_icon{
    background-color: #aaaaaa00;
    padding: 0;
    border: none;
}
.menu_icon:focus {outline:0;}

/* Responsive Styles */
@media (max-width: 600px) {
    .profile-icon {
        display: none; /* ซ่อนไอคอนโปรไฟล์เมื่อหน้าจอลดขนาด */
    }

    .menu-icon {
        display: block; /* แสดงเมนูไอคอนเมื่อหน้าจอลดขนาด */
    }
}

@media (min-width: 601px) {
    .profile-icon {
        display: block; /* แสดงไอคอนโปรไฟล์เมื่อหน้าจอมีขนาดปกติ */
    }

    .menu-icon {
        display: none; /* ซ่อนไอคอนเมนูในขนาดหน้าจอปกติ */
    }
}

.courses-list {
    display: none;
    background-color: #cfcfcf67;
    padding: 10px;
    font-size: 18px;
  }
.courses-list h5{
    color: #000000e1;
}
  
  @media (max-width: 600px) {
    .header_bar h5 {
      display: none; /* ซ่อนหลักสูตรทั้งหมดใน header */
    }
  
    .courses-list {
      display: block;
    }
  }
