@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #2c2c2c;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.37);
}

.about h2 {
  color: #ffffff; 
  border-bottom: 2px solid #ffffff;
  padding-bottom: 8px;
  margin-bottom: 20px;
  font-size: 1.8rem;
}

.about-description {
  line-height: 1.6;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.about h3 {
  color: #ffffff; 
  font-size: 1.4rem;
  margin: 20px 0 8px;
}

.course-duration{
  line-height: 1.6;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  margin-bottom: 8px;
}

.about a {
  display: inline-block;
  color: #ffffff;
  background-color: #000000b4; 
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.24s ease;
}

.about a:hover {
  background-color: #969696; 
}

.about h3::before {
  content: "• ";
  color: #ffffff;
}
