.productList {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    padding: 20px;
    background-color: #cfcfcf21;
}
  
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 12px;
    max-width: 200px;
    text-align: center;
    margin-bottom: 20px;
}
  
.card img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.productList button{
  font-weight: bold;
  font-size: 14px;
  border: solid 1px #ccc;
  border-radius: 6px;
  color: rgba(68, 68, 68, 0.966);
}
