*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    flex: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #aaaaaa41;
}
.header__bar{
    display: flex;
    align-items: center;   
}
.header__bar a {
    text-decoration: none;
    font-size: 24px;
    color: #5f5f5fe1;
    margin-left: 24px;
}
.header__icon {
    display: none;
}
  
.header__icon img {
    padding: 6px;
    margin-left: 20px;
}
  
.header__logo img {
    width: 18%;
}
  
@media (max-width: 600px) {
    .header a:not(:first-child) {
      display: none;
    }
  
    .header__icon {
      display: block;
    }
  }