#root{
    margin: 0;
    padding: 0;
}
.title{
    color: black;
    text-align: center;
    margin: 40px;
}
button{
    margin: 5px;
}
.title #main{
    background-color: #0d6efd;
    color: #fff;
}
.title #second{
    background-color: #6c757d;
    color: #fff;
}