* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.header {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgb(33, 43, 54);
    padding-left: 24px;
    padding-right: 24px;
}

.header_bar_center {
    margin-left: 32px;
    flex-grow: 1; 
    display: flex;
    align-items: center;
}
.header_bar_center h5 {
    text-decoration: none;
    font-size: 18px;
    color: #ffffffe1;
}
.header_bar_center h5:hover{
    color: rgb(255, 192, 0);
    transition: 0.35s;
}


.header_icon_hide {
    display: flex; 
    align-items: center;
    margin: 12px;
}

.header_icon_hide img {
    width: 2.8vw;
}
.menu_icon{
    background-color: #aaaaaa00;
    padding: 0;
    border: none;
}
.menu_icon:focus {
    outline:0;
}
.menu_icon img {
    width: 4.6vw;
}


.courses-list {
    display: none;
    background-color: rgb(33, 43, 54);
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
    padding: 10px;
    font-size: 18px;
  }
.courses-list h5{
    color: rgb(255, 255, 255);
}
.courses-list:hover{
    background-color: rgb(255, 192, 0);
    text-decoration: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* Responsive Styles */
@media (max-width: 600px) {
    .profile-icon {
        display: none; /* ซ่อนไอคอนโปรไฟล์เมื่อหน้าจอลดขนาด */
    }

    .menu-icon {
        display: block; /* แสดงเมนูไอคอนเมื่อหน้าจอลดขนาด */
    }
}

@media (min-width: 601px) {
    .header_bar img {
        width: 180px; /* ตั้งค่าความกว้างให้คงที่เพื่อให้ขนาดไม่เล็กเกินไป */
        margin-top: 8px;
    }
    .profile-icon {
        display: none; /* แสดงไอคอนโปรไฟล์เมื่อหน้าจอมีขนาดปกติ */
    }

    .menu-icon {
        display: none; /* ซ่อนไอคอนเมนูในขนาดหน้าจอปกติ */
    }
}
  
@media (max-width: 600px) {
    .header_bar_center h5 {
      display: none; /* ซ่อนหลักสูตรทั้งหมดใน header */
    }
  
    .courses-list {
      display: block;
    }
}

@media (max-width: 600px) {
    .header_bar img {
        width: 100px; /* ตั้งค่าความกว้างให้คงที่เพื่อให้ขนาดไม่เล็กเกินไป */
        margin-top: 8px;
    }

    .profile-icon {
        display: none; /* ซ่อนไอคอนโปรไฟล์เมื่อหน้าจอลดขนาด */
    }

    .menu-icon {
        display: block; /* แสดงเมนูไอคอนเมื่อหน้าจอลดขนาด */
    }
}
